*, html {
  outline: none !important;
}

.top-banner .elementor-section {
  margin-top: 0 !important;
}

.top-banner .elementor-section .elementor-widget-wrap.elementor-element-populated {
  padding: 0 !important;
}

.top-banner {
  position: relative;
}
.top-banner .elementor-widget {
  margin-bottom: 0 !important;
}
.top-banner .elementor-widget-image a {
  display: inline-block;
  width: 100%;
}
.top-banner .elementor-widget-image a img {
  width: 100%;
}
.top-banner .top-banner-button {
  position: absolute;
  left: 30px;
  bottom: 20px;
}
.top-banner .top-banner-button a {
  background: #fff;
  color: #222;
  text-transform: uppercase;
  min-width: 160px;
  padding: 15px 45px;
  border-radius: 6px;
  transition: all 0.3s;
}
.top-banner .top-banner-button a:hover {
  background: #111;
  color: #fff;
  transition: all 0.3s;
}
.top-banner .top-banner-title {
  position: absolute;
  left: 30px;
  bottom: 80px;
}
.top-banner .top-banner-title h4 {
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  font-size: 28px;
}

.swe-wrap-head .swe-title {
  color: #111 !important;
  text-transform: uppercase;
}

.item .item-wrap .item-detail {
  border: 1px solid #ddd9d9;
}

.policy-banner .top-banner-title {
  margin-bottom: 10px;
}
.policy-banner .top-banner-title h4,
.policy-banner .top-banner-title h3 {
  text-align: center;
  color: #111;
  font-size: 18px;
  text-transform: uppercase;
}
.policy-banner .top-banner-button {
  text-align: center;
}
.policy-banner .top-banner-button a {
  background: #222;
  border: 1px solid #111;
  color: #fff;
  text-transform: uppercase;
  min-width: 160px;
  padding: 15px 45px;
  border-radius: 6px;
  transition: all 0.3s;
}
.policy-banner .top-banner-button a:hover {
  background: #fff;
  border: 1px solid #111;
  color: #111;
  transition: all 0.3s;
}

.sec-about .elementor-widget-wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  padding: 0 !important;
}
.sec-about .elementor-widget-wrap .elementor-heading-title {
  color: #111;
  font-size: 20px;
}
.sec-about .elementor-widget-wrap p {
  color: #111;
}
.sec-about .elementor-widget-wrap a {
  background: #222;
  border: 1px solid #111;
  color: #fff;
  text-transform: uppercase;
  min-width: 160px;
  padding: 15px 45px;
  border-radius: 6px;
  transition: all 0.3s;
}
.sec-about .elementor-widget-wrap a:hover {
  background: #fff;
  border: 1px solid #111;
  color: #111;
  transition: all 0.3s;
}
