.rtl .wpb_tabs .wpb_tabs_nav li {
  float: right;
  margin: 0 0 0 1px;
}
.rtl .vc_col-sm-1,
.rtl .vc_col-sm-2,
.rtl .vc_col-sm-3,
.rtl .vc_col-sm-4,
.rtl .vc_col-sm-5,
.rtl .vc_col-sm-6,
.rtl .vc_col-sm-7,
.rtl .vc_col-sm-8,
.rtl .vc_col-sm-9,
.rtl .vc_col-sm-10,
.rtl .vc_col-sm-11 {
  float: right;
}
.rtl .pull-left {
  float: right;
}
.rtl .pull-right {
  float: left;
}
.rtl .fancybox-close {
  left: -5px;
  right: auto;
}
.rtl .column-1,
.rtl .column-2,
.rtl .column-3,
.rtl .column-4,
.rtl .column-5,
.rtl .column-6,
.rtl .column-7,
.rtl .column-8,
.rtl .column-9,
.rtl .column-10 {
  float: right;
}
.rtl .elementor-6061 .elementor-element.elementor-element-ae485a1 > .elementor-widget-container {
  margin: 0px 0px 0px 20px;
}
.rtl.home {
  overflow-x: hidden;
}
.rtl .elementor-6061 .elementor-element.elementor-element-4893d61 {
  text-align: right;
}
.rtl .sw-brand-container-slider .slick-slider .slick-track,
.rtl .sw-brand-container-slider .slick-slider .slick-list,
.rtl .sw-ourteam-slider .slick-slider .slick-list,
.rtl .sw-ourteam-slider .slick-slider .slick-track {
  direction: ltr;
}
.rtl .elementor-10124 .elementor-element.elementor-element-7ae7bee .swe-wrap-item {
  text-align: right;
}
.rtl .elementor-10124 .elementor-element.elementor-element-7ae7bee .swe-wrap-item .swe-wrap-image {
  margin-left: 10px;
  margin-right: 0;
}
.rtl .elementor-9984 .elementor-element.elementor-element-222004c .elementor-widget-container,
.rtl .elementor-9948 .elementor-element.elementor-element-4512a83 .elementor-image-box-wrapper,
.rtl .elementor-9948 .elementor-element.elementor-element-055abeb .elementor-image-box-wrapper,
.rtl .elementor-9948 .elementor-element.elementor-element-67e5331 .elementor-image-box-wrapper,
.rtl .elementor-9948 .elementor-element.elementor-element-8e615e4 .elementor-image-box-wrapper,
.rtl .elementor-11929 .elementor-element.elementor-element-bb4d3b7 .elementor-image-box-wrapper,
.rtl .elementor-11929 .elementor-element.elementor-element-2f80f5d .elementor-image-box-wrapper,
.rtl .elementor-11929 .elementor-element.elementor-element-9064452 .elementor-image-box-wrapper,
.rtl .elementor-11929 .elementor-element.elementor-element-e291f59 .elementor-image-box-wrapper,
.rtl .elementor-11929 .elementor-element.elementor-element-f44b694 .elementor-image-box-wrapper {
  text-align: right;
}
.rtl .elementor-9948 .elementor-element.elementor-element-055abeb.elementor-position-left .elementor-image-box-img,
.rtl .elementor-9948 .elementor-element.elementor-element-67e5331.elementor-position-left .elementor-image-box-img,
.rtl .elementor-9948 .elementor-element.elementor-element-4512a83.elementor-position-left .elementor-image-box-img,
.rtl .elementor-9948 .elementor-element.elementor-element-8e615e4.elementor-position-left .elementor-image-box-img,
.rtl .elementor-11929 .elementor-element.elementor-element-f44b694.elementor-position-left .elementor-image-box-img,
.rtl .elementor-11929 .elementor-element.elementor-element-e291f59.elementor-position-left .elementor-image-box-img,
.rtl .elementor-11929 .elementor-element.elementor-element-9064452.elementor-position-left .elementor-image-box-img,
.rtl .elementor-11929 .elementor-element.elementor-element-bb4d3b7.elementor-position-left .elementor-image-box-img,
.rtl .elementor-11929 .elementor-element.elementor-element-2f80f5d.elementor-position-left .elementor-image-box-img {
  margin-left: 30px;
  margin-right: 0;
}
.rtl .swe-woo-countdown-slider-layout2.style-2 .swe-slider {
  padding: 0 20px 0 0px;
}
.rtl .elementor-11929 .elementor-element.elementor-element-7d52c51 > .elementor-widget-container {
  padding: 30px 20px 30px 30px;
}
.rtl .swe-woo-products-slider.style-4 .swe-slider .swe-slider-btn.next-item {
  left: 55px;
  right: auto;
}
.rtl .swe-woo-products-slider.style-4 .swe-slider .swe-slider-btn.prev-item {
  left: 15px;
  right: auto;
}
.rtl .swe-woo-products-slider.style-4 .swe-slider .slick-list .item-wrap .item-detail .item-content {
  text-align: right;
}
.rtl .swe-woo-products-slider.style-4 .swe-wrap-head .swe-title {
  border-radius: 17px 0 0 17px !important;
}
.rtl .swe-woo-products-slider-layout2.style-4 .swe-wraps .swe-wrap-content .swe-wraps-image {
  padding-right: 20px;
  padding-left: 0;
}
.rtl .swe-woo-products-slider-layout2.style-4 .swe-slider .swe-slider-btn.prev-item {
  left: 0 !important;
  right: auto !important;
}
.rtl .swe-woo-products-slider-layout2.style-4 .swe-slider .swe-slider-btn.next-item {
  right: auto !important;
  left: 44px !important;
}
.rtl .elementor-widget-icon-box.elementor-position-left .elementor-icon-box-wrapper {
  text-align: right;
}
.rtl .elementor-widget-icon-box.elementor-position-left .elementor-icon-box-icon {
  margin-left: 5px;
  margin-right: 0;
}
.rtl .elementor-11910 .elementor-element.elementor-element-f2a5def .elementor-widget-container,
.rtl .elementor-11499 .elementor-element.elementor-element-e45707e {
  text-align: right;
}
.rtl .header-mid5 .sw_top .top-form.top-search button.form-button {
  border-radius: 2px 0px 0px 2px;
}
.rtl .top-login3 ul li {
  padding-right: 55px;
  padding-left: 0;
}
.rtl .elementor-11499 .elementor-element.elementor-element-216956c > .elementor-widget-container {
  margin: 0px 0px 0px 60px;
}
.rtl .swe-woo-cart .swe-wrap-cart-head.icon-left .swe-cart-subtotal {
  text-align: right;
  margin-right: 10px;
  margin-left: 0;
}
.rtl .header-bottom5 .vertical_megamenu-header:hover .mega-left-title span {
  background-position: right 15px center;
}
.rtl .swe-woo-products-slider-layout2.style-5 .swe-wraps .swe-wrap-content .swe-wraps-image {
  padding-left: 10px;
  padding-right: 0;
}
.rtl .swe-woo-products-slider-layout2.style-6 .swe-wraps .swe-wrap-content .swe-wraps-image {
  padding-right: 10px;
  padding-left: 0;
}
.rtl .elementor-11507 .elementor-element.elementor-element-97ca95c .elementor-icon-list-text {
  padding-right: 15px;
  padding-left: 0;
}
.rtl .elementor-11507 .elementor-element.elementor-element-ea3d1c1 {
  text-align: left;
}
.rtl .elementor-11499 .elementor-element.elementor-element-81cfbb7 > .elementor-widget-container {
  margin: 0;
}
.rtl #lang_sel {
  padding-left: 10px;
  padding-right: 0;
}
.rtl #lang_sel:before {
  left: 0;
  right: auto;
}
.rtl .swe-woo-products-slider-layout3.style-1 ul.swe-slider .slick-track .item-detail .item-img {
  float: right;
}
.rtl .swe-woo-countdown-slider-layout3.style-1 .swe-slider .slick-list .item .item-wrap3 .item-detail .item-content,
.rtl .swe-woo-countdown-slider-layout3.style-1 .swe-slider .slick-list .item .item-wrap3 .item-detail .item-content .countdown-info .countdown {
  text-align: right;
}
.rtl .swe-woo-countdown-slider-layout3.style-1 .swe-slider .slick-list .item .item-wrap3 .item-detail .item-content .item-price span,
.rtl .swe-woo-countdown-slider-layout3.style-1 .swe-slider .slick-list .item .item-wrap3 .item-detail .item-content .item-bottom {
  justify-content: right;
}
.rtl .elementor-11507 .elementor-element.elementor-element-dd6a695 .elementor-widget-container {
  text-align: right;
}
.rtl .elementor-11495 .elementor-element.elementor-element-f05ec1f.elementor-position-left .elementor-image-box-img,
.rtl .elementor-11495 .elementor-element.elementor-element-c331776.elementor-position-left .elementor-image-box-img,
.rtl .elementor-11495 .elementor-element.elementor-element-a4c2ba5.elementor-position-left .elementor-image-box-img,
.rtl .elementor-11495 .elementor-element.elementor-element-bef510e.elementor-position-left .elementor-image-box-img {
  margin-left: 20px;
  margin-right: 0;
}
.rtl .elementor-11495 .elementor-element.elementor-element-75018dc .swe-wrap-item {
  text-align: right;
}
.rtl .footer-top5 .mc4wp-form input {
  float: right;
  border-radius: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.rtl .footer-top5 .mc4wp-form button {
  border-radius: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.rtl .elementor-11910 .elementor-element.elementor-element-0f5ed4e {
  text-align: left;
}
.rtl .footer-menu4 .mc4wp-form button,
.rtl .footer-menu4 .mc4wp-form input {
  float: right;
}
.rtl .footer-menu4 .mc4wp-form input {
  border-radius: 0 5px 5px 0;
}
.rtl .footer-menu4 .mc4wp-form button {
  border-radius: 5px 0 0 5px;
}
.rtl .elementor-11902 .elementor-element.elementor-element-7c2d128 {
  text-align: right;
}
.rtl .wpcf7 .wpcf7-submit {
  float: right;
}
.rtl .header-bottom4 .vertical_megamenu-header:hover .mega-left-title span {
  background-position: right 15px center;
}
.rtl .header-top4 .sw_top .top-form.top-search button.form-button {
  border-radius: 5px 0 0 5px;
}
.rtl .policy-home4 .elementor-column > div:before {
  right: -2px;
  left: auto;
}
.rtl .wpcf7 .wpcf7-form-control-wrap input,
.rtl .wpcf7 .wpcf7-form-control-wrap textarea {
  text-align: right;
}
.rtl .elementor-widget .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
  left: -8px;
}
.rtl .elementor-6061 .elementor-element.elementor-element-ae485a1 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
  right: calc(20px);
}
.rtl .header-top3 .sw_top .top-form.top-search input {
  padding-right: 220px;
  padding-left: 0;
}
.rtl .header-top3 #lang_sel:after {
  width: 0;
}
.rtl .header-top3 #lang_sel > ul.nav > li > ul {
  right: -23px;
}
.rtl .header-top3 .currency_w > li .currency_switcher {
  right: -24px;
  left: auto;
}
.rtl .elementor-11336 .elementor-element.elementor-element-8b57210 > .elementor-widget-container {
  border-width: 0px 0px 0px 1px;
}
.rtl .elementor-11336 .elementor-element.elementor-element-13da65b .swe-woo-cart.cart-hover .swe-wrap-cart-content {
  left: 0;
  right: auto;
}
.rtl .header-bottom3 .vertical_megamenu-header:hover .mega-left-title span {
  background-position: right 10px center;
}
.rtl .header-bottom3 .mega-left-title {
  padding-right: 20px;
  padding-left: 0;
}
.rtl .header-bottom3 .mega-left-title span:after {
  position: absolute;
  margin-right: 10px;
  margin-left: 0;
}
.rtl .header-top3 .sw_top .top-form.top-search button.form-button {
  border-radius: 5px 0 0 5px;
}
.rtl .elementor-9393 .elementor-element.elementor-element-beab3e2.elementor-position-left .elementor-image-box-img,
.rtl .elementor-9393 .elementor-element.elementor-element-fd3159f.elementor-position-left .elementor-image-box-img,
.rtl .elementor-9393 .elementor-element.elementor-element-8fe226a.elementor-position-left .elementor-image-box-img,
.rtl .elementor-9393 .elementor-element.elementor-element-b896dcb.elementor-position-left .elementor-image-box-img {
  margin-left: 30px;
  margin-right: 0;
}
.rtl .elementor-6061 .elementor-element.elementor-element-fe9a8a3 > .elementor-widget-container {
  margin: 0px 0px 0px 40px;
}
.rtl .footer-top3 .mc4wp-form button {
  left: 0;
  right: auto;
}
.rtl .footer-top3-menu ul.elementor-nav-menu li a:hover {
  padding-right: 10px !important;
  padding-left: 0;
}
.rtl .footer-top3-menu ul.elementor-nav-menu li a:before {
  right: 0;
  left: auto;
}
.rtl .swe-woo-countdown-slider-layout1 .tab-content .tab-pane .item .item-wrap .item-detail .item-content {
  margin-left: 20px;
  margin-right: 0;
  border-radius: 20px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.rtl .swe-woo-countdown-slider-layout1 {
  padding: 30px 0px 30px 30px;
}
.rtl .swe-woo-products-slider-layout2.style-2 .swe-wraps .swe-wrap-content .swe-wraps-image {
  padding-right: 20px;
  padding-left: 0;
}
.rtl .swe-woo-countdown-slider-layout1 .tab-content .tab-pane .item .item-wrap .item-detail .item-img {
  border-radius: 20px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.rtl .swe-woo-countdown-slider-layout1 .tab-content .tab-pane .item .item-wrap .item-detail .item-img .sw-quickview {
  border-radius: 50%;
}
.rtl .swe-woo-countdown-slider-layout1 .tab-content .tab-pane .item .item-wrap .item-detail .item-img a {
  border-radius: 20px;
}
.rtl .swe-woo-countdown-slider-layout1 .tab-content .tab-pane .item .item-wrap .item-detail .item-img img {
  border-radius: 20px;
}
.rtl .elementor-11322 .elementor-element.elementor-element-3009697 .elementor-image-box-wrapper,
.rtl .elementor-11322 .elementor-element.elementor-element-c3e25ea .elementor-image-box-wrapper,
.rtl .elementor-11322 .elementor-element.elementor-element-3e51cef .elementor-image-box-wrapper,
.rtl .elementor-11322 .elementor-element.elementor-element-017658a .elementor-image-box-wrapper {
  text-align: right;
}
.rtl .elementor-11322 .elementor-element.elementor-element-c3e25ea.elementor-position-left .elementor-image-box-img,
.rtl .elementor-11322 .elementor-element.elementor-element-3e51cef.elementor-position-left .elementor-image-box-img,
.rtl .elementor-11322 .elementor-element.elementor-element-3009697.elementor-position-left .elementor-image-box-img,
.rtl .elementor-11322 .elementor-element.elementor-element-017658a.elementor-position-left .elementor-image-box-img {
  margin-left: 20px;
  margin-right: 0;
}
.rtl .footer-top3-menu h5.elementor-heading-title:before {
  right: 0;
  left: auto;
}
.rtl .elementor-11313 .elementor-element.elementor-element-0b77c51 .elementor-image-box-wrapper,
.rtl .elementor-11313 .elementor-element.elementor-element-e0148c4 .elementor-image-box-wrapper,
.rtl .elementor-11313 .elementor-element.elementor-element-0d7448b .elementor-image-box-wrapper,
.rtl .elementor-11313 .elementor-element.elementor-element-b85ac87 .elementor-image-box-wrapper {
  text-align: right;
}
.rtl .elementor-11313 .elementor-element.elementor-element-0b77c51.elementor-position-left .elementor-image-box-img,
.rtl .elementor-11313 .elementor-element.elementor-element-e0148c4.elementor-position-left .elementor-image-box-img,
.rtl .elementor-11313 .elementor-element.elementor-element-0d7448b.elementor-position-left .elementor-image-box-img,
.rtl .elementor-11313 .elementor-element.elementor-element-b85ac87.elementor-position-left .elementor-image-box-img {
  margin-left: 15px;
  margin-right: 0;
}
.rtl .swe-woo-products-slider-layout2.style-3 .swe-slider .slick-list .item .item-wrap3 .item-detail .item-content {
  text-align: right;
}
.rtl .swe-woo-products-slider-layout2.style-3 .swe-slider .slick-list .item .item-wrap3 .item-detail .item-content .item-bottom {
  justify-content: right;
}
.rtl .wrapper_vertical_menu .vertical-megamenu > li.bakan-mega-menu > .dropdown-menu {
  border-radius: 20px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.rtl blockquote.is-style-large:before {
  left: 30px;
  right: auto;
}
.rtl .elementor-9393 .elementor-element.elementor-element-beab3e2 .elementor-image-box-wrapper,
.rtl .elementor-9393 .elementor-element.elementor-element-fd3159f .elementor-image-box-wrapper,
.rtl .elementor-9393 .elementor-element.elementor-element-8fe226a .elementor-image-box-wrapper,
.rtl .elementor-9393 .elementor-element.elementor-element-b896dcb .elementor-image-box-wrapper {
  text-align: right;
}
.rtl .elementor-10731 .elementor-element.elementor-element-a41e643 > .elementor-widget-container {
  margin: 0 0 0 20px;
}
.rtl .elementor-10731 .elementor-element.elementor-element-38b7cc8 > .elementor-widget-container {
  margin: 0 20px 0 0;
}
.rtl .elementor-10731 .elementor-element.elementor-element-3ae67b4 > .elementor-widget-container {
  margin: 0 0 0 30px;
}
.rtl .elementor-10731 .elementor-element.elementor-element-9a1d432 {
  text-align: right;
}
.rtl .elementor-10731 .elementor-element.elementor-element-0a37887 > .elementor-widget-container {
  padding: 10px 43px 10px 20px;
  background-position: right 20px center !important;
}
.rtl .elementor-10734 .elementor-element.elementor-element-551ad72 .swe-slider .swe-slider-btn.next-item {
  right: 10px !important;
}
.rtl .elementor-10734 .elementor-element.elementor-element-551ad72 .swe-slider .swe-slider-btn.prev-item {
  left: 40px;
}
.rtl .swe-woo-countdown-slider.style-2 .swe-wrap-head .swe-title {
  border-radius: 0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.rtl .swe-woo-countdown-slider.style-2 .swe-slider {
  padding: 30px 0px 30px 30px;
}
.rtl .swe-woo-countdown-slider.style-2 .item-detail .item-content {
  text-align: right;
}
.rtl .swe-woo-countdown-slider.style-2 .item-detail .item-content .sales-bar .sales-bar-total span {
  right: 0;
  left: auto;
}
.rtl .header-top2 #lang_sel:after {
  right: -20px;
  left: auto;
}
.rtl .header-top2 .currency_w {
  margin-left: 15px;
  margin-right: 0;
}
.rtl .elementor-10734 .elementor-element.elementor-element-c14bf6e .swe-wraps-image,
.rtl .elementor-10734 .elementor-element.elementor-element-2327794 .swe-wraps-image,
.rtl .elementor-10734 .elementor-element.elementor-element-68523ec .swe-wraps-image,
.rtl .elementor-10734 .elementor-element.elementor-element-68523ec .swe-wraps-image {
  padding: 20px 0px 0px 20px;
}
.rtl .elementor-10734 .elementor-element.elementor-element-2074d15 .elementor-image-box-wrapper,
.rtl .elementor-10734 .elementor-element.elementor-element-b884e75 .elementor-image-box-wrapper,
.rtl .elementor-10734 .elementor-element.elementor-element-6983617 .elementor-image-box-wrapper,
.rtl .elementor-10734 .elementor-element.elementor-element-e64980a .elementor-image-box-wrapper,
.rtl .elementor-10739 .elementor-element.elementor-element-7686494 .elementor-image-box-wrapper,
.rtl .elementor-10739 .elementor-element.elementor-element-707d6a3 .elementor-image-box-wrapper,
.rtl .elementor-10739 .elementor-element.elementor-element-c0a4a3f .elementor-image-box-wrapper,
.rtl .elementor-10739 .elementor-element.elementor-element-f6aa15d .elementor-image-box-wrapper {
  text-align: right;
}
.rtl .elementor-10739 .elementor-element.elementor-element-f6aa15d.elementor-position-left .elementor-image-box-img,
.rtl .elementor-10739 .elementor-element.elementor-element-c0a4a3f.elementor-position-left .elementor-image-box-img,
.rtl .elementor-10739 .elementor-element.elementor-element-707d6a3.elementor-position-left .elementor-image-box-img,
.rtl .elementor-10739 .elementor-element.elementor-element-7686494.elementor-position-left .elementor-image-box-img {
  margin-left: 20px;
  margin-right: 0;
}
.rtl .elementor-10734 .elementor-element.elementor-element-e64980a.elementor-position-left .elementor-image-box-img,
.rtl .elementor-10734 .elementor-element.elementor-element-6983617.elementor-position-left .elementor-image-box-img,
.rtl .elementor-10734 .elementor-element.elementor-element-b884e75.elementor-position-left .elementor-image-box-img,
.rtl .elementor-10734 .elementor-element.elementor-element-2074d15.elementor-position-left .elementor-image-box-img {
  margin-left: 20px;
  margin-right: 0;
}
.rtl .tag-home2 .elementor-widget-wp-widget-tag_cloud .elementor-widget-container > h5 {
  margin-left: 12px;
  margin-right: 0;
}
.rtl .swe-wrap-testimonial.style-1 .swe-slider:before {
  left: 0;
  right: auto;
  border-radius: 0;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.rtl .swe-wrap-testimonial.style-1 .swe-slider .slick-dots {
  left: 20px;
  right: auto;
}
.rtl .swe-wrap-testimonial.style-1 .swe-slider .swe-testimonial-item .swe-content {
  text-align: right;
}
.rtl .footer-top2 .mc4wp-form button {
  left: 0;
  right: auto;
}
.rtl .elementor-10739 .elementor-element.elementor-element-7c7a498 .elementor-widget-container {
  text-align: right;
}
.rtl .elementor-10731 .elementor-element.elementor-element-960f2e1 .icon-left .swe-cart-subtotal {
  margin-right: 20px;
  margin-left: 0;
}
.rtl .elementor-6061 .elementor-element.elementor-element-cda6e84 > .elementor-widget-container {
  margin: 0px 0px 0px 30px;
}
.rtl .elementor-6061 .elementor-element.elementor-element-8a73b31 > .elementor-widget-container {
  margin: 0px 0px 0px 50px;
}
.rtl .swe-wrap-post.image-left .swe-wrap-item .swe-wrap-content {
  padding-right: 15px;
  padding-left: 0;
  text-align: right;
}
.rtl .swe-woo-cart.cart-hover .swe-wrap-cart-top .cart-title {
  text-align: right;
}
.rtl .swe-woo-cart .swe-wrap-cart-content .woocommerce-mini-cart li img {
  float: right;
  margin-left: 15px;
  margin-right: 0;
}
.rtl .elementor-10739 .elementor-element.elementor-element-2215619 {
  text-align: left;
}
.rtl .swe-woo-cart .swe-wrap-cart-content .woocommerce-mini-cart li .quantity,
.rtl .swe-woo-cart ul.woocommerce-mini-cart li a {
  text-align: right;
}
.rtl .footer-top2-menu ul.elementor-nav-menu li a:hover {
  padding-left: 0 !important;
  padding-right: 10px !important;
}
.rtl .footer-top2-menu ul.elementor-nav-menu li a:before {
  right: 0;
  left: auto;
}
.rtl .swe-woo-cart .buttons .button + .button {
  margin-right: 10px;
  margin-left: 0;
}
.rtl .swe-woo-cart .swe-wrap-cart-content .woocommerce-mini-cart li .remove_from_cart_button {
  left: 0;
  right: auto;
}
.rtl .elementor-9393 .elementor-element.elementor-element-97122db .swe-slider .swe-slider-btn.next-item i,
.rtl .elementor-9940 .elementor-element.elementor-element-1d9419f .swe-slider .swe-slider-btn.next-item i,
.rtl .elementor-10050 .elementor-element.elementor-element-ba363d8 .swe-slider .swe-slider-btn.next-item i {
  text-indent: 30px;
}
.rtl .elementor-9393 .elementor-element.elementor-element-97122db .swe-slider .swe-slider-btn.prev-item i,
.rtl .elementor-9940 .elementor-element.elementor-element-1d9419f .swe-slider .swe-slider-btn.prev-item i,
.rtl .elementor-10050 .elementor-element.elementor-element-ba363d8 .swe-slider .swe-slider-btn.prev-item i {
  text-indent: -30px;
}
.rtl .products-wrapper .products-nav .catalog-ordering .product-sortby .sort-by {
  margin-left: 10px;
  margin-right: 0;
}
.rtl .products-wrapper .products-nav .view-mode-wrap .view-mode >a.grid-view {
  margin-left: 10px;
  margin-right: 0;
}
.rtl.woocommerce .woocommerce-result-count,
.rtl.woocommerce-page .woocommerce-result-count {
  float: right;
}
.rtl .products-wrapper .woocommerce-pagination {
  float: left;
}
.rtl .products-wrapper .products-loop.list .item .item-wrap .item-detail .item-content .item-price > span,
.rtl .products-wrapper .products-loop.list .item .item-wrap .item-detail .item-content .item-bottom {
  justify-content: right;
}
.rtl .products-wrapper .products-nav .view-mode-wrap {
  margin-right: 0;
  margin-left: 90px;
}
.rtl .mega-left-title span {
  background-position: right 20px center;
}
.rtl .sw_top .top-form.top-search .cat-wrapper:after {
  left: 0;
  right: auto;
}
.rtl .header-mid1 .top-login ul li {
  text-align: right;
  background-position: right center;
  padding-right: 34px;
  padding-left: 0;
}
.rtl .elementor-5645 .elementor-element.elementor-element-9eed727 .elementor-icon-list-text {
  padding-right: 15px;
}
.rtl .footer-title-style1 .elementor-widget-container:before {
  right: 0;
  left: auto;
}
.rtl .footer-top1 .mc4wp-form button {
  left: 0;
  right: auto;
}
.rtl .elementor-5645 .elementor-element.elementor-element-9a3742d {
  text-align: left;
}
.rtl .elementor-5645 .elementor-element.elementor-element-3f27298 {
  text-align: left;
}
.rtl .header-default .top-header >div {
  float: right;
}
.rtl .header-default .top-header .bakan_social {
  border-left: 0;
}
.rtl .header-default .top-header .bakan_my_accout {
  border-left: 1px solid #292929;
}
.rtl .header-default .top-header .bakan_cart .top-form-minicart .top-minicart-icon .minicart-number {
  right: auto;
  left: 20px;
}
.rtl .header-default .top-header .bakan_my_accout #sidebar-top {
  right: auto;
  left: -4px;
}
.rtl .dropdown-menu {
  left: 0;
  right: auto;
}
.rtl .woocommerce-error:before,
.rtl .woocommerce-info:before,
.rtl .woocommerce-message:before {
  right: 1.5em;
  left: auto;
}
.rtl .woocommerce-error,
.rtl .woocommerce-info,
.rtl .woocommerce-message {
  padding: 1em 3.5em 1em 2em;
}
.rtl.woocommerce div.product form.cart div.quantity {
  float: right;
}
.rtl .woocommerce div.product form.cart .button {
  float: right;
}
.rtl.woocommerce .widget_layered_nav ul li.chosen a::before,
.rtl.woocommerce .widget_layered_nav_filters ul li a::before {
  content: '';
  margin: 0;
}
.rtl .woocommerce form table.shop_table.shop_table_responsive tbody tr td,
.rtl.woocommerce-page form table.shop_table.shop_table_responsive tbody tr td {
  text-align: right !important;
}
.rtl.woocommerce-cart form table.shop_table.shop_table_responsive tbody tr td {
  overflow: hidden;
}
.rtl.woocommerce-cart form table.shop_table.shop_table_responsive tbody tr td .variation .variation-SoldBy {
  margin-right: 0;
}
.rtl .woocommerce span.onsale,
.rtl .onsale {
  left: auto;
  right: 20px;
}
.rtl .content-search >.post .entry-content .bl_read_more i,
.rtl .content-search .product .entry-content .bl_read_more i {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}
.rtl.single-product.product-thumbnail-right .slider_img_productd .has-newicon span.onsale,
.rtl.single-product.product-thumbnail-right .slider_img_productd .has-newicon .onsale,
.rtl.single-product.product-thumbnail-right .slider_img_productd .sale-off.has-newicon {
  right: 10px;
  left: auto;
}
.rtl.single-product.product-thumbnail-left .slider_img_productd .sw-newlabel {
  left: 10px;
  right: auto;
}
.rtl .product_detail .slider_img_productd .product-images .product-images-container .slick-slider.product-responsive .featured-video-button {
  transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  left: auto;
  right: 20px;
}
.rtl.woocommerce div.product div.images .woocommerce-product-gallery__trigger {
  right: auto;
  left: 20px;
}
@media (max-width: 1199px) and (min-width: 992px) {
  .rtl .elementor-6061 .elementor-element.elementor-element-8a73b31 > .elementor-widget-container {
    margin: 0px 0px 0px 15px;
  }
  .rtl .elementor-6061 .elementor-element.elementor-element-cda6e84 > .elementor-widget-container {
    margin: 0;
  }
}
