#yith-woocompare table.compare-list .remove td a{
	color:#ff4e08;
	text-decoration: underline;
    font-size: 14px;
}
#yith-woocompare table.compare-list .remove td a .remove{
	display:none;
}
#yith-woocompare table.dataTable.compare-list tbody tr td{
	text-align:left; padding:15px;
}
#yith-woocompare  table.compare-list td img{
	border:1px solid #ededed;
}
#yith-woocompare table.dataTable.compare-list tbody tr.title td{
	font-size:18px; color:#111; font-weight:600; text-transform:capitalize;
}
#yith-woocompare table.dataTable.compare-list tbody tr.price td{
	text-decoration:none;
}
#yith-woocompare table.dataTable.compare-list tbody tr.price td span.amount{
	font-size:20px;
	color:#ff4e08;
	font-weight:500;
}
#yith-woocompare table.dataTable.compare-list tbody tr.price del{
	font-weight:400; color:#888; font-size:16px;
}
#yith-woocompare table.dataTable.compare-list tbody tr.price del span.amount{
	font-weight:400; color:#888; font-size:16px;
}
#yith-woocompare table.dataTable.compare-list tbody tr.price ins{
	float:left; margin-right:10px; text-decoration:none;
}
#yith-woocompare  table.compare-list .add-to-cart td a:not(.unstyled_button){
	height: 40px;
    line-height: 40px;
    padding: 0 30px;
    background-color: #ff4e08;
    border-radius: 5px;
}
#yith-woocompare  table.compare-list .add-to-cart td a:not(.unstyled_button):hover{
	opacity:0.85;
}
#yith-woocompare table.dataTable.compare-list tbody tr.description p{
	color: #777;
    font-size: 14px;
    line-height: 1.8;
}
#yith-woocompare table.dataTable.compare-list tbody tr.stock td span{
	color: #7e7e7e;
    display: flex;
    align-items: center;
	position:relative;
	font-size:14px;
}
#yith-woocompare table.dataTable.compare-list tbody tr.stock td span:before{
	content: "\f00c";
    font-family: 'FontAwesome';
    font-size: 12px;
    color: #fff;
	height:20px;
	width:20px;
	border-radius:50%;
	background-color:#68b65b;
	line-height:20px;
	text-align:center;
    margin-right: 5px;
}